<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.site.vs.videostation.mapper.DisplayMapper" >
    <select id="findDisplayDataRecentByTypeId" parameterType="int" resultType="com.site.vs.videostation.entity.Display">

		select v_id,v_name,v_pic from sea_data where tid = #{tid}  order by v_addtime desc
	</select>

	<select id="findDisplayDataRecent" resultType="com.site.vs.videostation.entity.Display">
		select v_id,v_name,v_pic from sea_data order by v_addtime desc limit 5
	</select>

</mapper>