<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.site.vs.videostation.mapper.SeaBuyMapper">
  <resultMap id="BaseResultMap" type="com.site.vs.videostation.entity.SeaBuy">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="vid" jdbcType="INTEGER" property="vid" />
    <result column="kptime" jdbcType="INTEGER" property="kptime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sea_buy
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.site.vs.videostation.entity.SeaBuy">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      UUID
    </selectKey>
    insert into sea_buy (uid, vid, kptime
      )
    values (#{uid,jdbcType=INTEGER}, #{vid,jdbcType=INTEGER}, #{kptime,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.site.vs.videostation.entity.SeaBuy">
    update sea_buy
    set uid = #{uid,jdbcType=INTEGER},
      vid = #{vid,jdbcType=INTEGER},
      kptime = #{kptime,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, uid, vid, kptime
    from sea_buy
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, uid, vid, kptime
    from sea_buy
  </select>
  <resultMap id="BaseResultMap" type="com.site.vs.videostation.entity.SeaBuy">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="vid" jdbcType="INTEGER" property="vid" />
    <result column="kptime" jdbcType="INTEGER" property="kptime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sea_buy
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.site.vs.videostation.entity.SeaBuy">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      UUID
    </selectKey>
    insert into sea_buy (uid, vid, kptime
      )
    values (#{uid,jdbcType=INTEGER}, #{vid,jdbcType=INTEGER}, #{kptime,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.site.vs.videostation.entity.SeaBuy">
    update sea_buy
    set uid = #{uid,jdbcType=INTEGER},
      vid = #{vid,jdbcType=INTEGER},
      kptime = #{kptime,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, uid, vid, kptime
    from sea_buy
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, uid, vid, kptime
    from sea_buy
  </select>
</mapper>