<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.site.vs.videostation.mapper.SeaCoDataMapper">

  <resultMap id="BaseResultMap" type="com.site.vs.videostation.entity.SeaCoData">
    <id column="v_id" jdbcType="INTEGER" property="vId" />
    <result column="tid" jdbcType="SMALLINT" property="tid" />
    <result column="tname" jdbcType="CHAR" property="tname" />
    <result column="v_name" jdbcType="CHAR" property="vName" />
    <result column="v_state" jdbcType="INTEGER" property="vState" />
    <result column="v_pic" jdbcType="CHAR" property="vPic" />
    <result column="v_spic" jdbcType="CHAR" property="vSpic" />
    <result column="v_gpic" jdbcType="CHAR" property="vGpic" />
    <result column="v_hit" jdbcType="INTEGER" property="vHit" />
    <result column="v_money" jdbcType="SMALLINT" property="vMoney" />
    <result column="v_rank" jdbcType="SMALLINT" property="vRank" />
    <result column="v_digg" jdbcType="SMALLINT" property="vDigg" />
    <result column="v_tread" jdbcType="SMALLINT" property="vTread" />
    <result column="v_commend" jdbcType="SMALLINT" property="vCommend" />
    <result column="v_wrong" jdbcType="SMALLINT" property="vWrong" />
    <result column="v_director" jdbcType="VARCHAR" property="vDirector" />
    <result column="v_enname" jdbcType="VARCHAR" property="vEnname" />
    <result column="v_lang" jdbcType="VARCHAR" property="vLang" />
    <result column="v_actor" jdbcType="VARCHAR" property="vActor" />
    <result column="v_color" jdbcType="CHAR" property="vColor" />
    <result column="v_publishyear" jdbcType="CHAR" property="vPublishyear" />
    <result column="v_publisharea" jdbcType="CHAR" property="vPublisharea" />
    <result column="v_addtime" jdbcType="INTEGER" property="vAddtime" />
    <result column="v_topic" jdbcType="INTEGER" property="vTopic" />
    <result column="v_note" jdbcType="CHAR" property="vNote" />
    <result column="v_tags" jdbcType="CHAR" property="vTags" />
    <result column="v_letter" jdbcType="CHAR" property="vLetter" />
    <result column="v_from" jdbcType="CHAR" property="vFrom" />
    <result column="v_inbase" jdbcType="CHAR" property="vInbase" />
    <result column="v_des" jdbcType="LONGVARCHAR" property="vDes" />
    <result column="v_playdata" jdbcType="LONGVARCHAR" property="vPlaydata" />
    <result column="v_downdata" jdbcType="LONGVARCHAR" property="vDowndata" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sea_co_data
    where v_id = #{vId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.site.vs.videostation.entity.SeaCoData">
    insert into sea_co_data (v_id, tid, tname, 
      v_name, v_state, v_pic, v_spic, 
      v_gpic, v_hit, v_money, 
      v_rank, v_digg, v_tread, 
      v_commend, v_wrong, v_director, 
      v_enname, v_lang, v_actor, 
      v_color, v_publishyear, v_publisharea, 
      v_addtime, v_topic, v_note, 
      v_tags, v_letter, v_from, v_inbase, 
      v_des, v_playdata, v_downdata
      )
    values (#{vId,jdbcType=INTEGER}, #{tid,jdbcType=SMALLINT}, #{tname,jdbcType=CHAR}, 
      #{vName,jdbcType=CHAR}, #{vState,jdbcType=INTEGER}, #{vPic,jdbcType=CHAR}, #{vSpic,jdbcType=CHAR}, 
      #{vGpic,jdbcType=CHAR}, #{vHit,jdbcType=INTEGER}, #{vMoney,jdbcType=SMALLINT}, 
      #{vRank,jdbcType=SMALLINT}, #{vDigg,jdbcType=SMALLINT}, #{vTread,jdbcType=SMALLINT}, 
      #{vCommend,jdbcType=SMALLINT}, #{vWrong,jdbcType=SMALLINT}, #{vDirector,jdbcType=VARCHAR}, 
      #{vEnname,jdbcType=VARCHAR}, #{vLang,jdbcType=VARCHAR}, #{vActor,jdbcType=VARCHAR}, 
      #{vColor,jdbcType=CHAR}, #{vPublishyear,jdbcType=CHAR}, #{vPublisharea,jdbcType=CHAR}, 
      #{vAddtime,jdbcType=INTEGER}, #{vTopic,jdbcType=INTEGER}, #{vNote,jdbcType=CHAR}, 
      #{vTags,jdbcType=CHAR}, #{vLetter,jdbcType=CHAR}, #{vFrom,jdbcType=CHAR}, #{vInbase,jdbcType=CHAR}, 
      #{vDes,jdbcType=LONGVARCHAR}, #{vPlaydata,jdbcType=LONGVARCHAR}, #{vDowndata,jdbcType=LONGVARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.site.vs.videostation.entity.SeaCoData">
    update sea_co_data
    set tid = #{tid,jdbcType=SMALLINT},
      tname = #{tname,jdbcType=CHAR},
      v_name = #{vName,jdbcType=CHAR},
      v_state = #{vState,jdbcType=INTEGER},
      v_pic = #{vPic,jdbcType=CHAR},
      v_spic = #{vSpic,jdbcType=CHAR},
      v_gpic = #{vGpic,jdbcType=CHAR},
      v_hit = #{vHit,jdbcType=INTEGER},
      v_money = #{vMoney,jdbcType=SMALLINT},
      v_rank = #{vRank,jdbcType=SMALLINT},
      v_digg = #{vDigg,jdbcType=SMALLINT},
      v_tread = #{vTread,jdbcType=SMALLINT},
      v_commend = #{vCommend,jdbcType=SMALLINT},
      v_wrong = #{vWrong,jdbcType=SMALLINT},
      v_director = #{vDirector,jdbcType=VARCHAR},
      v_enname = #{vEnname,jdbcType=VARCHAR},
      v_lang = #{vLang,jdbcType=VARCHAR},
      v_actor = #{vActor,jdbcType=VARCHAR},
      v_color = #{vColor,jdbcType=CHAR},
      v_publishyear = #{vPublishyear,jdbcType=CHAR},
      v_publisharea = #{vPublisharea,jdbcType=CHAR},
      v_addtime = #{vAddtime,jdbcType=INTEGER},
      v_topic = #{vTopic,jdbcType=INTEGER},
      v_note = #{vNote,jdbcType=CHAR},
      v_tags = #{vTags,jdbcType=CHAR},
      v_letter = #{vLetter,jdbcType=CHAR},
      v_from = #{vFrom,jdbcType=CHAR},
      v_inbase = #{vInbase,jdbcType=CHAR},
      v_des = #{vDes,jdbcType=LONGVARCHAR},
      v_playdata = #{vPlaydata,jdbcType=LONGVARCHAR},
      v_downdata = #{vDowndata,jdbcType=LONGVARCHAR}
    where v_id = #{vId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select v_id, tid, tname, v_name, v_state, v_pic, v_spic, v_gpic, v_hit, v_money, 
    v_rank, v_digg, v_tread, v_commend, v_wrong, v_director, v_enname, v_lang, v_actor, 
    v_color, v_publishyear, v_publisharea, v_addtime, v_topic, v_note, v_tags, v_letter, 
    v_from, v_inbase, v_des, v_playdata, v_downdata
    from sea_co_data
    where v_id = #{vId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select v_id, tid, tname, v_name, v_state, v_pic, v_spic, v_gpic, v_hit, v_money, 
    v_rank, v_digg, v_tread, v_commend, v_wrong, v_director, v_enname, v_lang, v_actor, 
    v_color, v_publishyear, v_publisharea, v_addtime, v_topic, v_note, v_tags, v_letter, 
    v_from, v_inbase, v_des, v_playdata, v_downdata
    from sea_co_data
  </select>
</mapper>