<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.site.vs.videostation.mapper.SeaCoNewsMapper" >
  <resultMap id="BaseResultMap" type="com.site.vs.videostation.entity.SeaCoNews" >
    <id column="n_id" property="nId" jdbcType="INTEGER" />
    <result column="tid" property="tid" jdbcType="SMALLINT" />
    <result column="n_title" property="nTitle" jdbcType="CHAR" />
    <result column="n_keyword" property="nKeyword" jdbcType="VARCHAR" />
    <result column="n_pic" property="nPic" jdbcType="CHAR" />
    <result column="n_hit" property="nHit" jdbcType="INTEGER" />
    <result column="n_author" property="nAuthor" jdbcType="VARCHAR" />
    <result column="n_addtime" property="nAddtime" jdbcType="INTEGER" />
    <result column="n_letter" property="nLetter" jdbcType="CHAR" />
    <result column="n_outline" property="nOutline" jdbcType="CHAR" />
    <result column="tname" property="tname" jdbcType="CHAR" />
    <result column="n_from" property="nFrom" jdbcType="CHAR" />
    <result column="n_inbase" property="nInbase" jdbcType="CHAR" />
    <result column="n_entitle" property="nEntitle" jdbcType="VARCHAR" />
    <result column="n_content" property="nContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sea_co_news
    where n_id = #{nId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.site.vs.videostation.entity.SeaCoNews" >
    insert into sea_co_news (n_id, tid, n_title, 
      n_keyword, n_pic, n_hit, 
      n_author, n_addtime, n_letter, 
      n_outline, tname, n_from, n_inbase, 
      n_entitle, n_content)
    values (#{nId,jdbcType=INTEGER}, #{tid,jdbcType=SMALLINT}, #{nTitle,jdbcType=CHAR}, 
      #{nKeyword,jdbcType=VARCHAR}, #{nPic,jdbcType=CHAR}, #{nHit,jdbcType=INTEGER}, 
      #{nAuthor,jdbcType=VARCHAR}, #{nAddtime,jdbcType=INTEGER}, #{nLetter,jdbcType=CHAR}, 
      #{nOutline,jdbcType=CHAR}, #{tname,jdbcType=CHAR}, #{nFrom,jdbcType=CHAR}, #{nInbase,jdbcType=CHAR}, 
      #{nEntitle,jdbcType=VARCHAR}, #{nContent,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.site.vs.videostation.entity.SeaCoNews" >
    update sea_co_news
    set tid = #{tid,jdbcType=SMALLINT},
      n_title = #{nTitle,jdbcType=CHAR},
      n_keyword = #{nKeyword,jdbcType=VARCHAR},
      n_pic = #{nPic,jdbcType=CHAR},
      n_hit = #{nHit,jdbcType=INTEGER},
      n_author = #{nAuthor,jdbcType=VARCHAR},
      n_addtime = #{nAddtime,jdbcType=INTEGER},
      n_letter = #{nLetter,jdbcType=CHAR},
      n_outline = #{nOutline,jdbcType=CHAR},
      tname = #{tname,jdbcType=CHAR},
      n_from = #{nFrom,jdbcType=CHAR},
      n_inbase = #{nInbase,jdbcType=CHAR},
      n_entitle = #{nEntitle,jdbcType=VARCHAR},
      n_content = #{nContent,jdbcType=LONGVARCHAR}
    where n_id = #{nId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select n_id, tid, n_title, n_keyword, n_pic, n_hit, n_author, n_addtime, n_letter, 
    n_outline, tname, n_from, n_inbase, n_entitle, n_content
    from sea_co_news
    where n_id = #{nId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select n_id, tid, n_title, n_keyword, n_pic, n_hit, n_author, n_addtime, n_letter, 
    n_outline, tname, n_from, n_inbase, n_entitle, n_content
    from sea_co_news
  </select>
</mapper>