<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.site.vs.videostation.mapper.SeaDataMapper">
  <resultMap id="BaseResultMap" type="com.site.vs.videostation.entity.SeaData">
    <id column="v_id" jdbcType="INTEGER" property="vId" />
    <result column="tid" jdbcType="SMALLINT" property="tid" />
    <result column="v_name" jdbcType="CHAR" property="vName" />
    <result column="v_state" jdbcType="INTEGER" property="vState" />
    <result column="v_pic" jdbcType="CHAR" property="vPic" />
    <result column="v_spic" jdbcType="CHAR" property="vSpic" />
    <result column="v_gpic" jdbcType="CHAR" property="vGpic" />
    <result column="v_hit" jdbcType="INTEGER" property="vHit" />
    <result column="v_money" jdbcType="SMALLINT" property="vMoney" />
    <result column="v_rank" jdbcType="SMALLINT" property="vRank" />
    <result column="v_digg" jdbcType="SMALLINT" property="vDigg" />
    <result column="v_tread" jdbcType="SMALLINT" property="vTread" />
    <result column="v_commend" jdbcType="SMALLINT" property="vCommend" />
    <result column="v_wrong" jdbcType="SMALLINT" property="vWrong" />
    <result column="v_ismake" jdbcType="SMALLINT" property="vIsmake" />
    <result column="v_actor" jdbcType="VARCHAR" property="vActor" />
    <result column="v_color" jdbcType="CHAR" property="vColor" />
    <result column="v_publishyear" jdbcType="INTEGER" property="vPublishyear" />
    <result column="v_publisharea" jdbcType="CHAR" property="vPublisharea" />
    <result column="v_addtime" jdbcType="INTEGER" property="vAddtime" />
    <result column="v_topic" jdbcType="INTEGER" property="vTopic" />
    <result column="v_note" jdbcType="CHAR" property="vNote" />
    <result column="v_tags" jdbcType="CHAR" property="vTags" />
    <result column="v_letter" jdbcType="CHAR" property="vLetter" />
    <result column="v_isunion" jdbcType="SMALLINT" property="vIsunion" />
    <result column="v_recycled" jdbcType="SMALLINT" property="vRecycled" />
    <result column="v_director" jdbcType="VARCHAR" property="vDirector" />
    <result column="v_enname" jdbcType="VARCHAR" property="vEnname" />
    <result column="v_lang" jdbcType="VARCHAR" property="vLang" />
    <result column="v_score" jdbcType="INTEGER" property="vScore" />
    <result column="v_scorenum" jdbcType="INTEGER" property="vScorenum" />
    <result column="v_nickname" jdbcType="CHAR" property="vNickname" />
    <result column="v_reweek" jdbcType="CHAR" property="vReweek" />
    <result column="v_douban" jdbcType="REAL" property="vDouban" />
    <result column="v_mtime" jdbcType="REAL" property="vMtime" />
    <result column="v_imdb" jdbcType="REAL" property="vImdb" />
    <result column="v_tvs" jdbcType="CHAR" property="vTvs" />
    <result column="v_company" jdbcType="CHAR" property="vCompany" />
    <result column="v_dayhit" jdbcType="INTEGER" property="vDayhit" />
    <result column="v_weekhit" jdbcType="INTEGER" property="vWeekhit" />
    <result column="v_monthhit" jdbcType="INTEGER" property="vMonthhit" />
    <result column="v_daytime" jdbcType="INTEGER" property="vDaytime" />
    <result column="v_weektime" jdbcType="INTEGER" property="vWeektime" />
    <result column="v_monthtime" jdbcType="INTEGER" property="vMonthtime" />
    <result column="v_len" jdbcType="VARCHAR" property="vLen" />
    <result column="v_total" jdbcType="VARCHAR" property="vTotal" />
    <result column="v_ver" jdbcType="VARCHAR" property="vVer" />
    <result column="v_psd" jdbcType="VARCHAR" property="vPsd" />
    <result column="v_extratype" jdbcType="LONGVARCHAR" property="vExtratype" />
    <result column="v_jq" jdbcType="LONGVARCHAR" property="vJq" />
    <result column="v_longtxt" jdbcType="LONGVARCHAR" property="vLongtxt" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sea_data
    where v_id = #{vId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.site.vs.videostation.entity.SeaData">
    insert into sea_data (v_id, tid, v_name, 
      v_state, v_pic, v_spic, v_gpic, 
      v_hit, v_money, v_rank, 
      v_digg, v_tread, v_commend, 
      v_wrong, v_ismake, v_actor, 
      v_color, v_publishyear, v_publisharea, 
      v_addtime, v_topic, v_note, 
      v_tags, v_letter, v_isunion, 
      v_recycled, v_director, v_enname, 
      v_lang, v_score, v_scorenum, 
      v_nickname, v_reweek, v_douban, 
      v_mtime, v_imdb, v_tvs, v_company, 
      v_dayhit, v_weekhit, v_monthhit, 
      v_daytime, v_weektime, v_monthtime, 
      v_len, v_total, v_ver, 
      v_psd, v_extratype, v_jq, 
      v_longtxt)
    values (#{vId,jdbcType=INTEGER}, #{tid,jdbcType=SMALLINT}, #{vName,jdbcType=CHAR}, 
      #{vState,jdbcType=INTEGER}, #{vPic,jdbcType=CHAR}, #{vSpic,jdbcType=CHAR}, #{vGpic,jdbcType=CHAR}, 
      #{vHit,jdbcType=INTEGER}, #{vMoney,jdbcType=SMALLINT}, #{vRank,jdbcType=SMALLINT}, 
      #{vDigg,jdbcType=SMALLINT}, #{vTread,jdbcType=SMALLINT}, #{vCommend,jdbcType=SMALLINT}, 
      #{vWrong,jdbcType=SMALLINT}, #{vIsmake,jdbcType=SMALLINT}, #{vActor,jdbcType=VARCHAR}, 
      #{vColor,jdbcType=CHAR}, #{vPublishyear,jdbcType=INTEGER}, #{vPublisharea,jdbcType=CHAR}, 
      #{vAddtime,jdbcType=INTEGER}, #{vTopic,jdbcType=INTEGER}, #{vNote,jdbcType=CHAR}, 
      #{vTags,jdbcType=CHAR}, #{vLetter,jdbcType=CHAR}, #{vIsunion,jdbcType=SMALLINT}, 
      #{vRecycled,jdbcType=SMALLINT}, #{vDirector,jdbcType=VARCHAR}, #{vEnname,jdbcType=VARCHAR}, 
      #{vLang,jdbcType=VARCHAR}, #{vScore,jdbcType=INTEGER}, #{vScorenum,jdbcType=INTEGER}, 
      #{vNickname,jdbcType=CHAR}, #{vReweek,jdbcType=CHAR}, #{vDouban,jdbcType=REAL}, 
      #{vMtime,jdbcType=REAL}, #{vImdb,jdbcType=REAL}, #{vTvs,jdbcType=CHAR}, #{vCompany,jdbcType=CHAR}, 
      #{vDayhit,jdbcType=INTEGER}, #{vWeekhit,jdbcType=INTEGER}, #{vMonthhit,jdbcType=INTEGER}, 
      #{vDaytime,jdbcType=INTEGER}, #{vWeektime,jdbcType=INTEGER}, #{vMonthtime,jdbcType=INTEGER}, 
      #{vLen,jdbcType=VARCHAR}, #{vTotal,jdbcType=VARCHAR}, #{vVer,jdbcType=VARCHAR}, 
      #{vPsd,jdbcType=VARCHAR}, #{vExtratype,jdbcType=LONGVARCHAR}, #{vJq,jdbcType=LONGVARCHAR}, 
      #{vLongtxt,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.site.vs.videostation.entity.SeaData">
    update sea_data
    set tid = #{tid,jdbcType=SMALLINT},
      v_name = #{vName,jdbcType=CHAR},
      v_state = #{vState,jdbcType=INTEGER},
      v_pic = #{vPic,jdbcType=CHAR},
      v_spic = #{vSpic,jdbcType=CHAR},
      v_gpic = #{vGpic,jdbcType=CHAR},
      v_hit = #{vHit,jdbcType=INTEGER},
      v_money = #{vMoney,jdbcType=SMALLINT},
      v_rank = #{vRank,jdbcType=SMALLINT},
      v_digg = #{vDigg,jdbcType=SMALLINT},
      v_tread = #{vTread,jdbcType=SMALLINT},
      v_commend = #{vCommend,jdbcType=SMALLINT},
      v_wrong = #{vWrong,jdbcType=SMALLINT},
      v_ismake = #{vIsmake,jdbcType=SMALLINT},
      v_actor = #{vActor,jdbcType=VARCHAR},
      v_color = #{vColor,jdbcType=CHAR},
      v_publishyear = #{vPublishyear,jdbcType=INTEGER},
      v_publisharea = #{vPublisharea,jdbcType=CHAR},
      v_addtime = #{vAddtime,jdbcType=INTEGER},
      v_topic = #{vTopic,jdbcType=INTEGER},
      v_note = #{vNote,jdbcType=CHAR},
      v_tags = #{vTags,jdbcType=CHAR},
      v_letter = #{vLetter,jdbcType=CHAR},
      v_isunion = #{vIsunion,jdbcType=SMALLINT},
      v_recycled = #{vRecycled,jdbcType=SMALLINT},
      v_director = #{vDirector,jdbcType=VARCHAR},
      v_enname = #{vEnname,jdbcType=VARCHAR},
      v_lang = #{vLang,jdbcType=VARCHAR},
      v_score = #{vScore,jdbcType=INTEGER},
      v_scorenum = #{vScorenum,jdbcType=INTEGER},
      v_nickname = #{vNickname,jdbcType=CHAR},
      v_reweek = #{vReweek,jdbcType=CHAR},
      v_douban = #{vDouban,jdbcType=REAL},
      v_mtime = #{vMtime,jdbcType=REAL},
      v_imdb = #{vImdb,jdbcType=REAL},
      v_tvs = #{vTvs,jdbcType=CHAR},
      v_company = #{vCompany,jdbcType=CHAR},
      v_dayhit = #{vDayhit,jdbcType=INTEGER},
      v_weekhit = #{vWeekhit,jdbcType=INTEGER},
      v_monthhit = #{vMonthhit,jdbcType=INTEGER},
      v_daytime = #{vDaytime,jdbcType=INTEGER},
      v_weektime = #{vWeektime,jdbcType=INTEGER},
      v_monthtime = #{vMonthtime,jdbcType=INTEGER},
      v_len = #{vLen,jdbcType=VARCHAR},
      v_total = #{vTotal,jdbcType=VARCHAR},
      v_ver = #{vVer,jdbcType=VARCHAR},
      v_psd = #{vPsd,jdbcType=VARCHAR},
      v_extratype = #{vExtratype,jdbcType=LONGVARCHAR},
      v_jq = #{vJq,jdbcType=LONGVARCHAR},
      v_longtxt = #{vLongtxt,jdbcType=LONGVARCHAR}
    where v_id = #{vId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select v_id, tid, v_name, v_state, v_pic, v_spic, v_gpic, v_hit, v_money, v_rank, 
    v_digg, v_tread, v_commend, v_wrong, v_ismake, v_actor, v_color, v_publishyear, v_publisharea, 
    v_addtime, v_topic, v_note, v_tags, v_letter, v_isunion, v_recycled, v_director, 
    v_enname, v_lang, v_score, v_scorenum, v_nickname, v_reweek, v_douban, v_mtime, v_imdb, 
    v_tvs, v_company, v_dayhit, v_weekhit, v_monthhit, v_daytime, v_weektime, v_monthtime, 
    v_len, v_total, v_ver, v_psd, v_extratype, v_jq, v_longtxt
    from sea_data
    where v_id = #{vId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select v_id, tid, v_name, v_state, v_pic, v_spic, v_gpic, v_hit, v_money, v_rank, 
    v_digg, v_tread, v_commend, v_wrong, v_ismake, v_actor, v_color, v_publishyear, v_publisharea, 
    v_addtime, v_topic, v_note, v_tags, v_letter, v_isunion, v_recycled, v_director, 
    v_enname, v_lang, v_score, v_scorenum, v_nickname, v_reweek, v_douban, v_mtime, v_imdb, 
    v_tvs, v_company, v_dayhit, v_weekhit, v_monthhit, v_daytime, v_weektime, v_monthtime, 
    v_len, v_total, v_ver, v_psd, v_extratype, v_jq, v_longtxt
    from sea_data
  </select>
  <resultMap id="BaseResultMap" type="com.site.vs.videostation.entity.SeaData">
    <id column="v_id" jdbcType="INTEGER" property="vId" />
    <result column="tid" jdbcType="SMALLINT" property="tid" />
    <result column="v_name" jdbcType="CHAR" property="vName" />
    <result column="v_state" jdbcType="INTEGER" property="vState" />
    <result column="v_pic" jdbcType="CHAR" property="vPic" />
    <result column="v_spic" jdbcType="CHAR" property="vSpic" />
    <result column="v_gpic" jdbcType="CHAR" property="vGpic" />
    <result column="v_hit" jdbcType="INTEGER" property="vHit" />
    <result column="v_money" jdbcType="SMALLINT" property="vMoney" />
    <result column="v_rank" jdbcType="SMALLINT" property="vRank" />
    <result column="v_digg" jdbcType="SMALLINT" property="vDigg" />
    <result column="v_tread" jdbcType="SMALLINT" property="vTread" />
    <result column="v_commend" jdbcType="SMALLINT" property="vCommend" />
    <result column="v_wrong" jdbcType="SMALLINT" property="vWrong" />
    <result column="v_ismake" jdbcType="SMALLINT" property="vIsmake" />
    <result column="v_actor" jdbcType="VARCHAR" property="vActor" />
    <result column="v_color" jdbcType="CHAR" property="vColor" />
    <result column="v_publishyear" jdbcType="INTEGER" property="vPublishyear" />
    <result column="v_publisharea" jdbcType="CHAR" property="vPublisharea" />
    <result column="v_addtime" jdbcType="INTEGER" property="vAddtime" />
    <result column="v_topic" jdbcType="INTEGER" property="vTopic" />
    <result column="v_note" jdbcType="CHAR" property="vNote" />
    <result column="v_tags" jdbcType="CHAR" property="vTags" />
    <result column="v_letter" jdbcType="CHAR" property="vLetter" />
    <result column="v_isunion" jdbcType="SMALLINT" property="vIsunion" />
    <result column="v_recycled" jdbcType="SMALLINT" property="vRecycled" />
    <result column="v_director" jdbcType="VARCHAR" property="vDirector" />
    <result column="v_enname" jdbcType="VARCHAR" property="vEnname" />
    <result column="v_lang" jdbcType="VARCHAR" property="vLang" />
    <result column="v_score" jdbcType="INTEGER" property="vScore" />
    <result column="v_scorenum" jdbcType="INTEGER" property="vScorenum" />
    <result column="v_nickname" jdbcType="CHAR" property="vNickname" />
    <result column="v_reweek" jdbcType="CHAR" property="vReweek" />
    <result column="v_douban" jdbcType="REAL" property="vDouban" />
    <result column="v_mtime" jdbcType="REAL" property="vMtime" />
    <result column="v_imdb" jdbcType="REAL" property="vImdb" />
    <result column="v_tvs" jdbcType="CHAR" property="vTvs" />
    <result column="v_company" jdbcType="CHAR" property="vCompany" />
    <result column="v_dayhit" jdbcType="INTEGER" property="vDayhit" />
    <result column="v_weekhit" jdbcType="INTEGER" property="vWeekhit" />
    <result column="v_monthhit" jdbcType="INTEGER" property="vMonthhit" />
    <result column="v_daytime" jdbcType="INTEGER" property="vDaytime" />
    <result column="v_weektime" jdbcType="INTEGER" property="vWeektime" />
    <result column="v_monthtime" jdbcType="INTEGER" property="vMonthtime" />
    <result column="v_len" jdbcType="VARCHAR" property="vLen" />
    <result column="v_total" jdbcType="VARCHAR" property="vTotal" />
    <result column="v_ver" jdbcType="VARCHAR" property="vVer" />
    <result column="v_psd" jdbcType="VARCHAR" property="vPsd" />
    <result column="v_extratype" jdbcType="LONGVARCHAR" property="vExtratype" />
    <result column="v_jq" jdbcType="LONGVARCHAR" property="vJq" />
    <result column="v_longtxt" jdbcType="LONGVARCHAR" property="vLongtxt" />

    <result column="tname" property="tName" />
    <result column="play" property="body" />
    <result column="content" property="content" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sea_data
    where v_id = #{vId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.site.vs.videostation.entity.SeaData">
    insert into sea_data (v_id, tid, v_name,
      v_state, v_pic, v_spic, v_gpic,
      v_hit, v_money, v_rank,
      v_digg, v_tread, v_commend,
      v_wrong, v_ismake, v_actor,
      v_color, v_publishyear, v_publisharea,
      v_addtime, v_topic, v_note,
      v_tags, v_letter, v_isunion,
      v_recycled, v_director, v_enname,
      v_lang, v_score, v_scorenum,
      v_nickname, v_reweek, v_douban,
      v_mtime, v_imdb, v_tvs, v_company,
      v_dayhit, v_weekhit, v_monthhit,
      v_daytime, v_weektime, v_monthtime,
      v_len, v_total, v_ver,
      v_psd, v_extratype, v_jq,
      v_longtxt)
    values (#{vId,jdbcType=INTEGER}, #{tid,jdbcType=SMALLINT}, #{vName,jdbcType=CHAR},
      #{vState,jdbcType=INTEGER}, #{vPic,jdbcType=CHAR}, #{vSpic,jdbcType=CHAR}, #{vGpic,jdbcType=CHAR},
      #{vHit,jdbcType=INTEGER}, #{vMoney,jdbcType=SMALLINT}, #{vRank,jdbcType=SMALLINT},
      #{vDigg,jdbcType=SMALLINT}, #{vTread,jdbcType=SMALLINT}, #{vCommend,jdbcType=SMALLINT},
      #{vWrong,jdbcType=SMALLINT}, #{vIsmake,jdbcType=SMALLINT}, #{vActor,jdbcType=VARCHAR},
      #{vColor,jdbcType=CHAR}, #{vPublishyear,jdbcType=INTEGER}, #{vPublisharea,jdbcType=CHAR},
      #{vAddtime,jdbcType=INTEGER}, #{vTopic,jdbcType=INTEGER}, #{vNote,jdbcType=CHAR},
      #{vTags,jdbcType=CHAR}, #{vLetter,jdbcType=CHAR}, #{vIsunion,jdbcType=SMALLINT},
      #{vRecycled,jdbcType=SMALLINT}, #{vDirector,jdbcType=VARCHAR}, #{vEnname,jdbcType=VARCHAR},
      #{vLang,jdbcType=VARCHAR}, #{vScore,jdbcType=INTEGER}, #{vScorenum,jdbcType=INTEGER},
      #{vNickname,jdbcType=CHAR}, #{vReweek,jdbcType=CHAR}, #{vDouban,jdbcType=REAL},
      #{vMtime,jdbcType=REAL}, #{vImdb,jdbcType=REAL}, #{vTvs,jdbcType=CHAR}, #{vCompany,jdbcType=CHAR},
      #{vDayhit,jdbcType=INTEGER}, #{vWeekhit,jdbcType=INTEGER}, #{vMonthhit,jdbcType=INTEGER},
      #{vDaytime,jdbcType=INTEGER}, #{vWeektime,jdbcType=INTEGER}, #{vMonthtime,jdbcType=INTEGER},
      #{vLen,jdbcType=VARCHAR}, #{vTotal,jdbcType=VARCHAR}, #{vVer,jdbcType=VARCHAR},
      #{vPsd,jdbcType=VARCHAR}, #{vExtratype,jdbcType=LONGVARCHAR}, #{vJq,jdbcType=LONGVARCHAR},
      #{vLongtxt,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.site.vs.videostation.entity.SeaData">
    update sea_data
    set tid = #{tid,jdbcType=SMALLINT},
      v_name = #{vName,jdbcType=CHAR},
      v_state = #{vState,jdbcType=INTEGER},
      v_pic = #{vPic,jdbcType=CHAR},
      v_spic = #{vSpic,jdbcType=CHAR},
      v_gpic = #{vGpic,jdbcType=CHAR},
      v_hit = #{vHit,jdbcType=INTEGER},
      v_money = #{vMoney,jdbcType=SMALLINT},
      v_rank = #{vRank,jdbcType=SMALLINT},
      v_digg = #{vDigg,jdbcType=SMALLINT},
      v_tread = #{vTread,jdbcType=SMALLINT},
      v_commend = #{vCommend,jdbcType=SMALLINT},
      v_wrong = #{vWrong,jdbcType=SMALLINT},
      v_ismake = #{vIsmake,jdbcType=SMALLINT},
      v_actor = #{vActor,jdbcType=VARCHAR},
      v_color = #{vColor,jdbcType=CHAR},
      v_publishyear = #{vPublishyear,jdbcType=INTEGER},
      v_publisharea = #{vPublisharea,jdbcType=CHAR},
      v_addtime = #{vAddtime,jdbcType=INTEGER},
      v_topic = #{vTopic,jdbcType=INTEGER},
      v_note = #{vNote,jdbcType=CHAR},
      v_tags = #{vTags,jdbcType=CHAR},
      v_letter = #{vLetter,jdbcType=CHAR},
      v_isunion = #{vIsunion,jdbcType=SMALLINT},
      v_recycled = #{vRecycled,jdbcType=SMALLINT},
      v_director = #{vDirector,jdbcType=VARCHAR},
      v_enname = #{vEnname,jdbcType=VARCHAR},
      v_lang = #{vLang,jdbcType=VARCHAR},
      v_score = #{vScore,jdbcType=INTEGER},
      v_scorenum = #{vScorenum,jdbcType=INTEGER},
      v_nickname = #{vNickname,jdbcType=CHAR},
      v_reweek = #{vReweek,jdbcType=CHAR},
      v_douban = #{vDouban,jdbcType=REAL},
      v_mtime = #{vMtime,jdbcType=REAL},
      v_imdb = #{vImdb,jdbcType=REAL},
      v_tvs = #{vTvs,jdbcType=CHAR},
      v_company = #{vCompany,jdbcType=CHAR},
      v_dayhit = #{vDayhit,jdbcType=INTEGER},
      v_weekhit = #{vWeekhit,jdbcType=INTEGER},
      v_monthhit = #{vMonthhit,jdbcType=INTEGER},
      v_daytime = #{vDaytime,jdbcType=INTEGER},
      v_weektime = #{vWeektime,jdbcType=INTEGER},
      v_monthtime = #{vMonthtime,jdbcType=INTEGER},
      v_len = #{vLen,jdbcType=VARCHAR},
      v_total = #{vTotal,jdbcType=VARCHAR},
      v_ver = #{vVer,jdbcType=VARCHAR},
      v_psd = #{vPsd,jdbcType=VARCHAR},
      v_extratype = #{vExtratype,jdbcType=LONGVARCHAR},
      v_jq = #{vJq,jdbcType=LONGVARCHAR},
      v_longtxt = #{vLongtxt,jdbcType=LONGVARCHAR}
    where v_id = #{vId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select v_id, tid, v_name, v_state, v_pic, v_spic, v_gpic, v_hit, v_money, v_rank,
    v_digg, v_tread, v_commend, v_wrong, v_ismake, v_actor, v_color, v_publishyear, v_publisharea,
    v_addtime, v_topic, v_note, v_tags, v_letter, v_isunion, v_recycled, v_director,
    v_enname, v_lang, v_score, v_scorenum, v_nickname, v_reweek, v_douban, v_mtime, v_imdb,
    v_tvs, v_company, v_dayhit, v_weekhit, v_monthhit, v_daytime, v_weektime, v_monthtime,
    v_len, v_total, v_ver, v_psd, v_extratype, v_jq, v_longtxt
    from sea_data
    where v_id = #{vId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select v_id, tid, v_name, v_state, v_pic, v_spic, v_gpic, v_hit, v_money, v_rank,
    v_digg, v_tread, v_commend, v_wrong, v_ismake, v_actor, v_color, v_publishyear, v_publisharea,
    v_addtime, v_topic, v_note, v_tags, v_letter, v_isunion, v_recycled, v_director,
    v_enname, v_lang, v_score, v_scorenum, v_nickname, v_reweek, v_douban, v_mtime, v_imdb,
    v_tvs, v_company, v_dayhit, v_weekhit, v_monthhit, v_daytime, v_weektime, v_monthtime,
    v_len, v_total, v_ver, v_psd, v_extratype, v_jq, v_longtxt
    from sea_data
  </select>

  <select id="findDetialById" parameterType="int" resultMap="BaseResultMap">
		select a.v_id,
		a.tid,
		d.tname,
		v_name,
		CASE
		<![CDATA[ locate( 'http://', v_pic ) ]]>
		WHEN 0 THEN
		<![CDATA[ CONCAT( 'http://host812095401.s540.pppf.com.cn/upload/', v_pic ) ]]> ELSE v_pic
		END as v_pic,
		v_actor,
		v_publishyear,
		v_publisharea,
		v_addtime,
		v_director,
		v_enname,
		b.body as play,
		c.body as content
		from
		 	sea_data a ,
		 	sea_playdata b,
		 	sea_content c ,
		 	sea_type d
		where a.v_id = b.v_id
		and  b.v_id = c.v_id
		and  a.tid = d.tid
		and a.v_id = #{tid}
	</select>

  <select id="findDisplayDataByTypeId" parameterType="int" resultType="Display">

		SELECT
			v_id,
			v_name,
			CASE
				<![CDATA[ locate( 'http://', v_pic ) ]]>
			WHEN 0 THEN
				<![CDATA[ CONCAT( 'http://host812095401.s540.pppf.com.cn/upload/', v_pic ) ]]> ELSE v_pic
			END as v_pic,
			v_actor,
			v_publishyear,
			v_publisharea
		FROM
			sea_data
		WHERE
			tid = #{id}
		ORDER BY
			v_addtime DESC
	</select>

  <select id="findDisplayDataRecent" resultType="Display">
		select v_id,v_name,v_pic,v_actor,v_publishyear,v_publisharea  from sea_data order by v_addtime desc limit 5
	</select>

  <select id="findDisplayDataByTypeIds" resultType="Display">
    select  v_id,
    v_name,
    CASE
    <![CDATA[ locate( 'http://', v_pic ) ]]>
    WHEN 0 THEN
    <![CDATA[ CONCAT( 'http://host812095401.s540.pppf.com.cn/upload/', v_pic ) ]]> ELSE v_pic
    END as v_pic,
    v_actor,
    v_publishyear,
    v_publisharea
    from
    sea_data
    where  tid in
    <foreach close=")" collection="list" item="tid" open="(" separator=",">
      #{tid}
    </foreach>
  </select>


</mapper>