<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.site.vs.videostation.mapper.SeaFlinkMapper">

  <resultMap id="BaseResultMap" type="com.site.vs.videostation.entity.SeaFlink">
    <id column="id" jdbcType="SMALLINT" property="id" />
    <result column="sortrank" jdbcType="SMALLINT" property="sortrank" />
    <result column="url" jdbcType="CHAR" property="url" />
    <result column="webname" jdbcType="CHAR" property="webname" />
    <result column="msg" jdbcType="CHAR" property="msg" />
    <result column="email" jdbcType="CHAR" property="email" />
    <result column="logo" jdbcType="CHAR" property="logo" />
    <result column="dtime" jdbcType="INTEGER" property="dtime" />
    <result column="ischeck" jdbcType="SMALLINT" property="ischeck" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    delete from sea_flink
    where id = #{id,jdbcType=SMALLINT}
  </delete>
  <insert id="insert" parameterType="com.site.vs.videostation.entity.SeaFlink">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Short">
      UUID
    </selectKey>
    insert into sea_flink (sortrank, url, webname, 
      msg, email, logo, dtime, 
      ischeck)
    values (#{sortrank,jdbcType=SMALLINT}, #{url,jdbcType=CHAR}, #{webname,jdbcType=CHAR}, 
      #{msg,jdbcType=CHAR}, #{email,jdbcType=CHAR}, #{logo,jdbcType=CHAR}, #{dtime,jdbcType=INTEGER}, 
      #{ischeck,jdbcType=SMALLINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.site.vs.videostation.entity.SeaFlink">
    update sea_flink
    set sortrank = #{sortrank,jdbcType=SMALLINT},
      url = #{url,jdbcType=CHAR},
      webname = #{webname,jdbcType=CHAR},
      msg = #{msg,jdbcType=CHAR},
      email = #{email,jdbcType=CHAR},
      logo = #{logo,jdbcType=CHAR},
      dtime = #{dtime,jdbcType=INTEGER},
      ischeck = #{ischeck,jdbcType=SMALLINT}
    where id = #{id,jdbcType=SMALLINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="BaseResultMap">
    select id, sortrank, url, webname, msg, email, logo, dtime, ischeck
    from sea_flink
    where id = #{id,jdbcType=SMALLINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, sortrank, url, webname, msg, email, logo, dtime, ischeck
    from sea_flink
  </select>
</mapper>