<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.site.vs.videostation.mapper.SeaMemberMapper">

  <resultMap id="BaseResultMap" type="com.site.vs.videostation.entity.SeaMember">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="email" jdbcType="CHAR" property="email" />
    <result column="logincount" jdbcType="SMALLINT" property="logincount" />
    <result column="regip" jdbcType="VARCHAR" property="regip" />
    <result column="regtime" jdbcType="INTEGER" property="regtime" />
    <result column="gid" jdbcType="SMALLINT" property="gid" />
    <result column="points" jdbcType="INTEGER" property="points" />
    <result column="state" jdbcType="SMALLINT" property="state" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sea_member
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.site.vs.videostation.entity.SeaMember">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      UUID
    </selectKey>
    insert into sea_member (username, nickname, password, 
      email, logincount, regip, 
      regtime, gid, points, 
      state)
    values (#{username,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{email,jdbcType=CHAR}, #{logincount,jdbcType=SMALLINT}, #{regip,jdbcType=VARCHAR}, 
      #{regtime,jdbcType=INTEGER}, #{gid,jdbcType=SMALLINT}, #{points,jdbcType=INTEGER}, 
      #{state,jdbcType=SMALLINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.site.vs.videostation.entity.SeaMember">
    update sea_member
    set username = #{username,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      email = #{email,jdbcType=CHAR},
      logincount = #{logincount,jdbcType=SMALLINT},
      regip = #{regip,jdbcType=VARCHAR},
      regtime = #{regtime,jdbcType=INTEGER},
      gid = #{gid,jdbcType=SMALLINT},
      points = #{points,jdbcType=INTEGER},
      state = #{state,jdbcType=SMALLINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, username, nickname, password, email, logincount, regip, regtime, gid, 
    points, state
    from sea_member
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, username, nickname, password, email, logincount, regip, regtime, gid, 
    points, state
    from sea_member
  </select>
</mapper>