<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.site.vs.videostation.mapper.SeaTempMapper">

  <resultMap id="BaseResultMap" type="com.site.vs.videostation.entity.SeaTemp">
    <id column="v_id" jdbcType="INTEGER" property="vId" />
    <result column="tid" jdbcType="SMALLINT" property="tid" />
    <result column="v_name" jdbcType="CHAR" property="vName" />
    <result column="v_state" jdbcType="INTEGER" property="vState" />
    <result column="v_pic" jdbcType="CHAR" property="vPic" />
    <result column="v_actor" jdbcType="VARCHAR" property="vActor" />
    <result column="v_publishyear" jdbcType="CHAR" property="vPublishyear" />
    <result column="v_publisharea" jdbcType="CHAR" property="vPublisharea" />
    <result column="v_addtime" jdbcType="INTEGER" property="vAddtime" />
    <result column="v_note" jdbcType="CHAR" property="vNote" />
    <result column="v_letter" jdbcType="CHAR" property="vLetter" />
    <result column="v_director" jdbcType="VARCHAR" property="vDirector" />
    <result column="v_enname" jdbcType="VARCHAR" property="vEnname" />
    <result column="v_lang" jdbcType="VARCHAR" property="vLang" />
    <result column="v_playdata" jdbcType="LONGVARCHAR" property="vPlaydata" />
    <result column="v_des" jdbcType="LONGVARCHAR" property="vDes" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sea_temp
    where v_id = #{vId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.site.vs.videostation.entity.SeaTemp">
    insert into sea_temp (v_id, tid, v_name, 
      v_state, v_pic, v_actor, 
      v_publishyear, v_publisharea, v_addtime, 
      v_note, v_letter, v_director, 
      v_enname, v_lang, v_playdata, 
      v_des)
    values (#{vId,jdbcType=INTEGER}, #{tid,jdbcType=SMALLINT}, #{vName,jdbcType=CHAR}, 
      #{vState,jdbcType=INTEGER}, #{vPic,jdbcType=CHAR}, #{vActor,jdbcType=VARCHAR}, 
      #{vPublishyear,jdbcType=CHAR}, #{vPublisharea,jdbcType=CHAR}, #{vAddtime,jdbcType=INTEGER}, 
      #{vNote,jdbcType=CHAR}, #{vLetter,jdbcType=CHAR}, #{vDirector,jdbcType=VARCHAR}, 
      #{vEnname,jdbcType=VARCHAR}, #{vLang,jdbcType=VARCHAR}, #{vPlaydata,jdbcType=LONGVARCHAR}, 
      #{vDes,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.site.vs.videostation.entity.SeaTemp">
    update sea_temp
    set tid = #{tid,jdbcType=SMALLINT},
      v_name = #{vName,jdbcType=CHAR},
      v_state = #{vState,jdbcType=INTEGER},
      v_pic = #{vPic,jdbcType=CHAR},
      v_actor = #{vActor,jdbcType=VARCHAR},
      v_publishyear = #{vPublishyear,jdbcType=CHAR},
      v_publisharea = #{vPublisharea,jdbcType=CHAR},
      v_addtime = #{vAddtime,jdbcType=INTEGER},
      v_note = #{vNote,jdbcType=CHAR},
      v_letter = #{vLetter,jdbcType=CHAR},
      v_director = #{vDirector,jdbcType=VARCHAR},
      v_enname = #{vEnname,jdbcType=VARCHAR},
      v_lang = #{vLang,jdbcType=VARCHAR},
      v_playdata = #{vPlaydata,jdbcType=LONGVARCHAR},
      v_des = #{vDes,jdbcType=LONGVARCHAR}
    where v_id = #{vId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select v_id, tid, v_name, v_state, v_pic, v_actor, v_publishyear, v_publisharea, 
    v_addtime, v_note, v_letter, v_director, v_enname, v_lang, v_playdata, v_des
    from sea_temp
    where v_id = #{vId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select v_id, tid, v_name, v_state, v_pic, v_actor, v_publishyear, v_publisharea, 
    v_addtime, v_note, v_letter, v_director, v_enname, v_lang, v_playdata, v_des
    from sea_temp
  </select>
</mapper>