<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.site.vs.videostation.mapper.SeaTypeMapper">
  <resultMap id="BaseResultMap" type="com.site.vs.videostation.entity.SeaType">
    <id column="tid" jdbcType="SMALLINT" property="tid" />
    <result column="upid" jdbcType="TINYINT" property="upid" />
    <result column="tname" jdbcType="CHAR" property="tname" />
    <result column="tenname" jdbcType="CHAR" property="tenname" />
    <result column="torder" jdbcType="INTEGER" property="torder" />
    <result column="templist" jdbcType="CHAR" property="templist" />
    <result column="templist_1" jdbcType="CHAR" property="templist1" />
    <result column="templist_2" jdbcType="CHAR" property="templist2" />
    <result column="title" jdbcType="CHAR" property="title" />
    <result column="keyword" jdbcType="CHAR" property="keyword" />
    <result column="description" jdbcType="CHAR" property="description" />
    <result column="ishidden" jdbcType="SMALLINT" property="ishidden" />
    <result column="tptype" jdbcType="SMALLINT" property="tptype" />
    <result column="unionid" jdbcType="LONGVARCHAR" property="unionid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    delete from sea_type
    where tid = #{tid,jdbcType=SMALLINT}
  </delete>
  <insert id="insert" parameterType="com.site.vs.videostation.entity.SeaType">
    insert into sea_type (tid, upid, tname, 
      tenname, torder, templist, 
      templist_1, templist_2, title, 
      keyword, description, ishidden, 
      tptype, unionid)
    values (#{tid,jdbcType=SMALLINT}, #{upid,jdbcType=TINYINT}, #{tname,jdbcType=CHAR}, 
      #{tenname,jdbcType=CHAR}, #{torder,jdbcType=INTEGER}, #{templist,jdbcType=CHAR}, 
      #{templist1,jdbcType=CHAR}, #{templist2,jdbcType=CHAR}, #{title,jdbcType=CHAR}, 
      #{keyword,jdbcType=CHAR}, #{description,jdbcType=CHAR}, #{ishidden,jdbcType=SMALLINT}, 
      #{tptype,jdbcType=SMALLINT}, #{unionid,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.site.vs.videostation.entity.SeaType">
    update sea_type
    set upid = #{upid,jdbcType=TINYINT},
      tname = #{tname,jdbcType=CHAR},
      tenname = #{tenname,jdbcType=CHAR},
      torder = #{torder,jdbcType=INTEGER},
      templist = #{templist,jdbcType=CHAR},
      templist_1 = #{templist1,jdbcType=CHAR},
      templist_2 = #{templist2,jdbcType=CHAR},
      title = #{title,jdbcType=CHAR},
      keyword = #{keyword,jdbcType=CHAR},
      description = #{description,jdbcType=CHAR},
      ishidden = #{ishidden,jdbcType=SMALLINT},
      tptype = #{tptype,jdbcType=SMALLINT},
      unionid = #{unionid,jdbcType=LONGVARCHAR}
    where tid = #{tid,jdbcType=SMALLINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="BaseResultMap">
    select tid, upid, tname, tenname, torder, templist, templist_1, templist_2, title, 
    keyword, description, ishidden, tptype, unionid
    from sea_type
    where tid = #{tid,jdbcType=SMALLINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select tid, upid, tname, tenname, torder, templist, templist_1, templist_2, title, 
    keyword, description, ishidden, tptype, unionid
    from sea_type
  </select>
  <resultMap id="BaseResultMap" type="com.site.vs.videostation.entity.SeaType">
    <id column="tid" jdbcType="SMALLINT" property="tid" />
    <result column="upid" jdbcType="TINYINT" property="upid" />
    <result column="tname" jdbcType="CHAR" property="tname" />
    <result column="tenname" jdbcType="CHAR" property="tenname" />
    <result column="torder" jdbcType="INTEGER" property="torder" />
    <result column="templist" jdbcType="CHAR" property="templist" />
    <result column="templist_1" jdbcType="CHAR" property="templist1" />
    <result column="templist_2" jdbcType="CHAR" property="templist2" />
    <result column="title" jdbcType="CHAR" property="title" />
    <result column="keyword" jdbcType="CHAR" property="keyword" />
    <result column="description" jdbcType="CHAR" property="description" />
    <result column="ishidden" jdbcType="SMALLINT" property="ishidden" />
    <result column="tptype" jdbcType="SMALLINT" property="tptype" />
    <result column="unionid" jdbcType="LONGVARCHAR" property="unionid" />
    <collection column="tid" javaType="java.util.List" ofType="SeaType" property="categoryList" select="getById" />

  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    delete from sea_type
    where tid = #{tid,jdbcType=SMALLINT}
  </delete>
  <insert id="insert" parameterType="com.site.vs.videostation.entity.SeaType">
    insert into sea_type (tid, upid, tname, 
      tenname, torder, templist, 
      templist_1, templist_2, title, 
      keyword, description, ishidden, 
      tptype, unionid)
    values (#{tid,jdbcType=SMALLINT}, #{upid,jdbcType=TINYINT}, #{tname,jdbcType=CHAR}, 
      #{tenname,jdbcType=CHAR}, #{torder,jdbcType=INTEGER}, #{templist,jdbcType=CHAR}, 
      #{templist1,jdbcType=CHAR}, #{templist2,jdbcType=CHAR}, #{title,jdbcType=CHAR}, 
      #{keyword,jdbcType=CHAR}, #{description,jdbcType=CHAR}, #{ishidden,jdbcType=SMALLINT}, 
      #{tptype,jdbcType=SMALLINT}, #{unionid,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.site.vs.videostation.entity.SeaType">
    update sea_type
    set upid = #{upid,jdbcType=TINYINT},
      tname = #{tname,jdbcType=CHAR},
      tenname = #{tenname,jdbcType=CHAR},
      torder = #{torder,jdbcType=INTEGER},
      templist = #{templist,jdbcType=CHAR},
      templist_1 = #{templist1,jdbcType=CHAR},
      templist_2 = #{templist2,jdbcType=CHAR},
      title = #{title,jdbcType=CHAR},
      keyword = #{keyword,jdbcType=CHAR},
      description = #{description,jdbcType=CHAR},
      ishidden = #{ishidden,jdbcType=SMALLINT},
      tptype = #{tptype,jdbcType=SMALLINT},
      unionid = #{unionid,jdbcType=LONGVARCHAR}
    where tid = #{tid,jdbcType=SMALLINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="BaseResultMap">
    select tid, upid, tname, tenname, torder, templist, templist_1, templist_2, title, 
    keyword, description, ishidden, tptype, unionid
    from sea_type
    where tid = #{tid,jdbcType=SMALLINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select tid, upid, tname, tenname, torder, templist, templist_1, templist_2, title, 
    keyword, description, ishidden, tptype, unionid
    from sea_type
  </select>

  <select id="getAll" parameterType="int" resultMap="BaseResultMap">
		select  tid, upid, tname from  sea_type where tid = #{categoryId}
	</select>

  <select id="getById" parameterType="int" resultMap="BaseResultMap">
        select tid, upid, tname
        from sea_type
        WHERE upid = #{id}
    </select>


</mapper>